.Board {
  position: relative;
  margin: 0 auto;
  background-color: #000;
  background-image:
      linear-gradient(#333 1px, transparent 1px),
      linear-gradient(90deg, #333 1px, transparent 1px);
}

.Cell {
  background: rgb(250, 250, 250);
  position: absolute;
  border: 0.1px solid #000;
  border-spacing: 0;
}

.controls {
  margin-top: 20px;
}

.button {
  margin-left: 12px;
  cursor: pointer;
}